.movie-container {
  padding: 0;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.movie-container ul {
  height: var(--movie-heigth);
  text-align: center;
}

.movie {
  margin-right: 25px;
  margin-bottom: auto;
  margin-top: auto;
}

.movie:first-child {
  margin-left: 0;
  padding-left: var(--underscore-offset);
}

.movie:last-child {
  margin-right: 0;
  padding-right: var(--underscore-offset);
}

.movie img {
  border-radius: 5px;
  width: var(--image-width);
  height: var(--image-height);
}

.movie-info {
  text-align: center;
}

.bg-image {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  filter: blur(8px) brightness(39%);
  -webkit-filter: blur(8px) brightness(39%);
  -moz-filter: blur(8px) brightness(39%);
  z-index: -1;

  background-repeat: no-repeat;
  background-size: cover;
}
